.AboutMe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 200px;
  margin: 20px auto;
  color: #ccc;
  line-height: 1.4rem;
  //border: 1px solid #ccc;
}
