.Experiencia {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  max-width: 500px;
  height: 250px;
  margin: 20px auto;
  line-height: 1.2rem;
  color: #ccc;
  //border: 1px solid #ccc;

  & h2 {
    font-family: Great Vibes, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
    text-shadow: 0 25px 15px #000, 0 25px 15px #000;
    //letter-spacing: 0.rem;
  }
}
