.Experiencia {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 2%;
  margin: 20px auto;
  color: #ccc;

  & h2 {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-shadow: 0 25px 15px #000, 0 25px 15px #000;
    //letter-spacing: 0.rem;
  }

  & a {
    color: #ffff;
  }
   & .clickable {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  & .skillsList {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    height: 30px;
    gap: 10px;
    opacity: 0;
    transform: translate(140px, 120px);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    list-style-type: none;
    transition: .5s ease-in-out;
  }

  .show {
    height: 30px;
    opacity: 1;
  }

  .hide {
    height: 0px;
    opacity: 0;
  }
}
