.footer {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  color: #ccc;
  //border: 1px solid #ccc;

  & p {
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    & b {
      color: #fff;
      font-weight: 900;
    }
  }
}
